/*导航栏*/
.nav {
	background: rgb(51, 51, 51);
	height: 60px;
}
.nav_right {
	height: 60px;
	position: absolute;
	left: 70%;
	display: inline-flex;
	margin: auto;
}
.nav_right > a {
	width: 120px;
	text-decoration: none;
	text-align: center;
	color: #fff;
	font-size: 1.1em;
	font-family: "serif";
	line-height: 60px;
	vertical-align: middle;
}
.nav_right > a:hover {
	color: rgb(254, 145, 38);
}
.nav_right > img {
	height: 30px;
	width: auto;
	margin: 15px 45px 0 45px;
}

/*导航栏下面的元素*/
.secondNav {
	height: 120px;
	width: 100%;
	background: rgb(245, 245, 245);
	position: relative;
}
.secondNav > h1 {
	color: rgb(254, 145, 38);
	position: absolute;
	font-size: 2.5em;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
.searchBox {
	position: absolute;
	right: 10%;
	top: 50%;
	transform: translate(0%, -50%);
}
.searchBox > input {
	height: 40px;
	font-size: 1.0em;
	border: solid 1px #444;
	padding: 0 5px 0 5px;
	vertical-align: middle;
}
#searchWrapper {
	background: rgb(245, 145, 38);
	border-radius: 5px;
	height: 45px;
	width: 45px;
	position: relative;
	display: inline-block;
	vertical-align: middle;
}
#searchWrapper:hover {
	background: rgb(51, 51, 51);
}
#rearchButton {
	position: absolute;
	transform: translate(-50%, -50%);
	width: 30px;
	height: 30px;
	top: 50%;
	left: 50%;
}

/*第三行布局*/
.thirdNav {
	width: 100%;
	height: 50px;
	background: rgb(245, 145, 38);
	overflow: hidden;
}
.list ul{
	text-align: center;
	height: 50px;
}

.list ul li{
	display: inline-block;
	margin-top: 15px;
	margin-left: 50px;
}

.list ul li a{
	color: white;
	text-decoration: none;
	font-size: 17px;
	font-weight: bold;
}

.list ul li a:hover{
	/*font-style: italic;*/
	color: rgb(51, 51, 51);
}

/*底部栏*/
#bottomInfo {
	position: relative;
	width: 100%;
	height: 60px;
	background: rgb(42, 42, 42);
}
#bottomInfo > p {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #eee;
}
#bottomInfo > a {
	position: absolute;
	right: 2%;
	top: 50%;
	transform: translate(-50%, -50%);
	text-decoration: none;
	color: #eee;
}
#bottomInfo > a:hover {
	color: rgb(245, 145, 38);
}