.container {
/*
  padding-right: 12em;
  padding-left: 12em;
  margin-right: auto;
  margin-left: auto;
*/
	 overflow: hidden;
/*border:3px solid #000;*/
}

.img-responsive
{
  display: block;
  height: auto;
  float: right;
	box-shadow: 0px 0px 5px #b2afaf;
	padding: 10px;

}

.agileinfo_single_left {

    
	padding: 20px;
}

.agileinfo_single_right {

	padding: 20px;
	
}



 .col-md-4 {
	float: left;
    width: 30%;
	
  }

 .col-md-8 {
    width: 60%;
	position: relative;
	min-height: 1px;
/*
	padding-right: 15px;
	padding-left: 15px;
*/
	float: left;
	 
/*	border:3px solid #000;*/
  }

.agileinfo_single h2{
	font-size: 1.8em;
    color: #212121;
    line-height: 1.5em;
    text-transform: uppercase;
    margin-bottom: 1em;
}

.w3agile_description h4{
	font-size:1em;
	color:#212121;
	text-transform:uppercase;
}
.w3agile_description p{
	font-size:14px;
	color:#999;
	line-height:2em;
	margin:.5em 0 0;
	width:80%;
}
.w3agile_description {
    margin: 2em 0;
}

.snipcart-details input.button {
    font-size: 14px;
    color: #fff;
    background: #3399cc;
    text-decoration: none;
    position: relative;
    border: none;
    border-radius: 0;
    width: 100px;
    text-transform: uppercase;
    padding: .5em 0;
    outline: none;
}


.agile_top_brand_left_grid1 h4,.agileinfo_single_right_snipcart h4{
	font-weight:600;
	font-size:1em;
	color:#212121;
}


.agileinfo_single_right_snipcart{
	margin:0 0 2em;
}

.agile_top_brand_left_grid1 h4, .agileinfo_single_right_snipcart h4 {
    font-size: 0.9em;
}






