<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>wallmart</title>
    <link rel="stylesheet" th:href="@{/static/css/shop.css}"/>
    <link rel="stylesheet" th:href="@{/static/css/fonts.css}"/>
    <script th:src="@{/static/js/jquery-3.3.1.min.js}"></script>
</head>

<body onload="carouselMap();">
<div class="nav" th:fragment="user_refresh">
    <img th:src="@{/static/img/logo.png}" style="height: 60px; width: auto" />
    <!--/*@thymesVar id="user" type="templates"*/-->
    <div class="nav_right" th:include="nouser::${user}">

    </div>
</div>
<div class="secondNav">
    <h1>
        wallmart
    </h1>
    <div class="searchBox">
        <input type="text" placeholder="Search for a product..."/>
        <div id="searchWrapper">
            <img th:src="@{/static/img/搜索.png}" id="rearchButton"/>
        </div>
    </div>
</div>
<div class="thirdNav">

</div>
<div id="turnImg">
    <p>
        The lowest price in the whole network
    </p>
</div>

<form id="addProductForm" enctype="multipart/form-data" method="post" class="basic-grey">
    <h1>ADD PRODUCT
        <span>Please fill all the texts in the fields.</span>
    </h1>
    <label>
        <span>PRODUCT NAME :</span>
        <input id="name" type="text" name="name" placeholder="PRODUCT Full Name"/>
    </label>
    <label>
        <span>BRAND:</span>
        <input id="BRAND" type="text" name="brand" placeholder="产品品牌"/>
    </label>
    <label>
        <span>定价:</span>
        <input id="price" type="text" name="price" placeholder="阿拉伯数字单位RMB"/>
    </label>
    <label>
        <span>上传商品图片:</span>

        <input id="fileId" type="file" name="file">
    </label>
    <label>
        <span>DESCRIBE :</span>
        <textarea id="DESCRIBE" name="DESCRIBE" placeholder="请描述你的商品"></textarea>
    </label>
    <label>
        <span>Subject :</span><select name="selection">
        <option value="1">图书音像</option>
        <option value="2">窈窕女装</option>
        <option value="3">绅士男装</option>
        <option value="4">鞋帽箱包</option>
        <option value="5">文化创意</option>
        <option value="6">运动户外</option>
        <option value="7">家居家纺</option>
        <option value="8">珠宝饰品</option>
        <option value="9">数码通讯</option>
        <option value="10">家用电器</option>
        <option value="11">其他</option>
    </select>
    </label>
    <label>

        <span>&nbsp;</span>
        <input type="button" class="button" value="Send" onclick="submitForm()"/>
    </label>
</form>


<div id="bottomInfo" th:include="nouser::${bottomInfo}">

</div>

<script>
    function submitForm() {
        var formData = new FormData(document.getElementById("addProductForm"));
        formData.append("fileName",document.getElementById("fileId").files[0].name);
        $.ajax({
            url : "http://127.0.0.1:7000/shop/uploadProduct",
            type : 'POST',
            data : formData,
            processData: false,
            contentType: false,
            cache: false,
            async: false,

            success: function (data) {
                alert("添加商品成功")
                console.log("成功");

            },
            error: function (data) {
                console.log("失败");
            }
        });
    }
    //主页轮播图
    function carouselMap() {
        let elem = document.getElementById('turnImg');
        let order = 2;
        elem.style.background = "url('/static/img/back1.jpg') no-repeat";
        elem.style.backgroundSize = 'cover';
        setInterval(function () {
            //elem.style.backgroundImage = "url('img/back'" + order + "'.jpg')";
            elem.style.backgroundImage = "url('/static/img/back" + order + ".jpg')";
            order++;
            if (order == 4) {
                order = 1;
            }
        }, 5000);
    }
</script>
</body>
</html>
