<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>register</title>
	<link rel="stylesheet" th:href="@{/static/css/log_reg.css}" type="text/css" />
	<style>
		.message {
			position: absolute;
			width: 100%;
			line-height: 30px;
			vertical-align: center;
			color: #222;
			font-size: 1.2em;
			text-align: center;
		}
	</style>
    <script th:src="@{/static/js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/static/js/login_registry.js}"></script>
</head>

<body>
	<img th:src="@{/static/img/logo.png}" class="logoImg" onclick="window.location.href='http://127.0.0.1:7000/shop/index';"/>
	<form class="loginInfo">
		<div class="formItem">
			<img th:src="@{/static/img/用户.png}" style="width: 30px; height: 30px; margin-top: 5px; margin-left: 20px; display: inline;" />
			<input id="user_name" class="inputFrame" placeholder="店铺名" type="text" />
		</div>
		<div class="formItem">
			<img th:src="@{/static/img/密码.png}" style="width: 30px; height: 30px; margin-top: 5px; margin-left: 20px; display: inline;" />
			<input id="user_pwd" class="inputFrame" placeholder="密码" type="password"/>
		</div>
		<div class="formItem">
			<img th:src="@{/static/img/密码确认.png}" style="width: 30px; height: 30px; margin-top: 5px; margin-left: 20px; display: inline;" />
			<input id="user_pwd_confirm" class="inputFrame" placeholder="确认密码" type="password"/>
		</div>
		<div class="formItem">
			<img th:src="@{/static/img/手机号码.png}" style="width: 30px; height: 30px; margin-top: 5px; margin-left: 20px; display: inline;" />
			<input id="tele" class="inputFrame" placeholder="手机号" type="text"/>
		</div>
		<div class="normalBlock">
			<label><input   class='singlecheck' type="radio"   value="1"    name='用户类型'   checked="checked" onchange="changeUserType(1)"/>普通用户</label>
			<label><input   class='singlecheck' type="radio"   value="2"    name='用户类型'   checked="checked" onchange="changeUserType(2)"/>商家</label>
		</div>
		<div class="normalBlock">
			<button onclick="reg_check()" type="button">注册</button>
		</div>
	</form>
</body>
</html>
